*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 236, 236);
}

.main-section{
    margin-top: 90px;
    padding: 50px 70px;
}

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white;
    z-index: 10;
}

.searchForm{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    min-width: 30%;
    border-radius: 20px;
}

.searchForm input{
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border: none;
    outline: none;
}

.searchForm img{
    height: 18px;
}

.links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a{
     font-size: 20px;
     text-decoration: none;
     color: black;
     transition: all 0.5s;
     position: relative;
}

#toMenu{
    scroll-behavior: smooth;
}

.links a:hover{
    color: orangered;
}

.links a::after{
    content: "";
    border: 3px solid black;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0px;
    visibility: hidden;
    transition: all 0.5s;
}

.links a:hover::after{
    visibility: visible;
    left: 0;
    width: 100%;
}

.right-div{
    display: flex;
    align-items: center;
    gap: 25px;
}

.userProfileContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-tooltip{
    position: absolute;
    padding: 5px 10px;
    bottom: -40px;
    background-color: aquamarine;
    transform: scale(0);
    transition: all .2s;
}

.user-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.userProfileContainer:hover .user-tooltip{
    transform: scale(1);
}
.user-profile img{
    width: 25px;  
}

.sign-in, .log-in-btn, .log-out-btn{
    padding: 10px 20px;
    background-color: rgba(255, 68, 0, 0.822);
    color: whitesmoke;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    transition: all 0.5s;   
}

.log-out-btn, .user-profile{
     display: none;
}

.sign-in:hover, .log-in-btn:hover, .log-out-btn:hover{
    transform: scale(1.1);
}


/* items area */

.headings , .item{
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 0px;
}

.items-area h1{
   font-size: 30px;
   margin-bottom: 20px;
   text-align: center;

}

.headings h2{
    color: gray;
    font-size: 20px;
}


.item img{
    height: 70px;
}

.deleteButton{
    padding: 0 20px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

.item div{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.orderSummary{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

.orderSummary h3{
    color: rgb(48, 46, 46);
    font-size: 24px;
    margin-bottom: 20px;
}

.orderSummary div{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.under{
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.proceedToCheckOutBtn{
    padding: 15px 20px;
    background-color: rgb(247, 83, 23);
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .5s;
    position: absolute;
    right: -60%;
    bottom: 20%;
}

.proceedToCheckOutBtn:hover{
    transform: scale(1.05);
}

.totals{
    font-size: 20px;
}

.updateBtn{
    padding: 10px 15px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 15px;
}

.quantityInput{
    padding: 8px 15px; 
    width: 80px; 
    margin-right: 5px; 
}
.saveUpdate{
    padding:  8px 15px;
    cursor: pointer;
}

.quantityInput, .saveUpdate{
    display: none;
}


/* footer area */
footer{
    margin-top: 60px;
}

.some-stuff{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}

.some-stuff h3{
    font-size: 45px;
    margin-bottom: 30px;
}

.bottom-container{
    color: rgb(204, 195, 195);
    background-color: rgb(19, 18, 18);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 60px;
}

.div1{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.div1 p{
    font-size: 15px;
}

.socials{
    display: flex;
    gap: 20px;
}

.div2{
    padding-left: 100px;
}

.div2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div2 ul a{
    color: rgb(204, 195, 195);
    font-size: 15px;
    text-decoration: none;
}

.div2 h3 , .div3 h3{
    color: white;
    margin-bottom: 15px;
}

.div3 span{
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.copy{
    margin-top: 40px;
    text-align: center;
    grid-column: 1 / 5;
}


